
* {
    margin: 0;
    padding: 0;
  }
  body{
    min-height: 100vh;
    display: flex;
  }
  .Le{
    background: rgb(8, 8, 49);
    height: 100vh;
    width: 200%;
    color: azure;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .esquerdo{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  button {
    margin-top: 15px;
    position: relative;
    padding: 25px 35px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  button:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  
  .esquerdo p{
    margin: 10px;
  
  }
  .sla{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(221, 212, 212);
    margin-top: 400px;
    font-size: 40px;
    font-family:cursive;
  }
  .Leb{
    display: flex
  }
  header p {
    margin-top: 1%;
    margin-left: 3.5%;
    font-size: 16px;
  }
  .foot {
    margin-right: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between; 
  }
  
  .user {
    background-color: rgb(255, 255, 255); 
    width: 145px;
    height: 85px;
    margin: 65px;
    border-radius: 25px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
  }
  .rd{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 30px;
    width: 30px;
    border-radius: 50px;
  
  }
  
  .perfil{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
      color: white;
      height: 30px;
      width: 30px;
      border-radius: 50px;
    }
  
  .user-profile{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  
  }
  .ldm {
    display: flex;
    
  }
  main {
    background-color: rgba(253, 252, 253, 0.959);
    height: 85vh;
  }
  footer {
    margin-right: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  img{
    width: 92.8%;
    margin-left: 10px;
    display: flex;
    margin :auto
  }
  