*{
    margin: 0%;
    padding: 0%;
  }
  header {
    display: flex;
    align-items: center;
    background-color:#FFA571;
    color: #fff;
    padding: 20px;
    
  }
  body{
    background: linear-gradient(to right, #FFDE59,#FF914D);
  
  }
  div {
    background-color: #fff;
    position:absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%,50%);
    padding: 80px;
  }
  input {
    padding: 15px;
    font-size: 15px;
  }