*{
  margin: 0%;
  padding: 0%;
  box-sizing: 0;
}
header {
  display: flex;
  align-items: center;
  background-color:#FFA571;
  color: #fff;
  padding: 10px;
  
}
body{
  background: linear-gradient(to right, #FFDE59,#FF914D);

}
main {
  margin: 20px;

}
header{
  height: 100px;
  width: ;
 }
 .oi {
    background-color:#F17E34;
    width: 180px;
    height: 35px;
    border-radius: 50px;
 }

.conteudo-principal {
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  margin-top: 99px;
  margin-left: 630px;
  height: 590px;
  width: 550px;
  margin-top: 110px;
  margin-left: 630px;
  height: 570px;
  width: 500px;
}

    
 
 
 h2 {
  padding: 4px;
  text-align: center;
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
 }
 .link2 {
  
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items:centerr;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 25px;
  color: rgb(56, 15, 15);
  margin-left: 20px;

 }
 img {
  width: 120px;
margin-left:50px;

 }
 p{
  font-size: 24px;
  margin-top: 80px;
  margin-left: 40px;

 
  
 }
 p2{
    font-size: 24px;
    margin-top: 80px;
    margin-right: 10px;

    
 }

 .con {
   display: flex;
   justify-content: space-between;
 }
 
 .container {
  display: flex;
  background-color: #FFA571;
  margin: 1px auto 30px;
  margin
  height: 200px;
  font-family: sans-serif;
}

.space-between {
   justify-content: space-around;
}

h4 {
  margin: 20px 0 0 20px;    
  font-family: sans-serif;    
  font-weight: normal;
  font-size: 1em;
  color: #3b3b3b;
  text-align: center;

}
.group {
  display: flex;
  line-height: 2800px;
  align-items: center;
  position: relative;
  max-width: 500px;
  margin-right: 360px;
}

.input {
  width: 900px;
  height: 40px;
  line-height: 400px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #F17E34;
  color: #0d0c22;
  box-shadow: 0 0 5px #ffffff, 0 0 0 10px #f5f5f5eb;
  transition: .3s ease;
}

.input::placeholder {
  color: #f5f5f5;
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #fffefe;
  width: 1rem;
  height: 1rem;
}
 
.link3 {
  text-decoration: none;
  font-family: sans-serif;
  font-size:20px;
  color: rgb(255, 255, 255);
  margin-left: 2px;

}

p3{
  text-decoration: none;
  margin-left:30px;
}


